.common{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header{
    background-color: #273E60;
    color: white;
    top: 0px;
    left: 5px;
    right: 5px;
    height: 100px;
    line-height: 25px;
    
}
.tableau-Placeholder{
    justify-content: center;
    align-items: center;
    display: flex;
    right: 10px;
}

.mainbody{
    background-color: #bcd7e6;

}
.footer{
    position: fixed;
    background-color: #273E60;
    color: white;
    bottom: 0px;
    left: 5px;
    right: 5px;
    height: 25px;
    line-height: 25px;
}
img{
    display: block;
    width: 35%;
    margin-left: auto;
    margin-right: auto;

}
nav{
    background-color: lightgray;
    padding: 10px;
    overflow: hidden;

}
nav a{
    color: #333;
    text-decoration: none;
    padding: 15px;
    font-weight: bold;
}
nav a:hover{
    background-color: #ccc;
    
}

.centered-list{
    padding-left: 0;
    list-style-position: outside;
    margin: 0 auto;
    display: table;
    text-align: left;
}